html,
body,
.febi .febi-tag.gdRadioTag h4,
.emphasizeBlock p,
.emphasizeBlockContent p,
.myFafsaCanAlsoContainer ul,
.secondary-cta-content
 {
	font-family: 'Droid Serif', times new roman, times, serif;
}

#mainHeader,
#mainHeader ul.navbar-nav > li > a,
#mainHeader ul.navbar-nav > li > input,
h1.pageTitle,
.pageMessage p,
.pageMessage h2,
.pageMessage h3,
.btn,
.btnHelp > a,
a.btnHelp,
.febi button,
h1, h2, h3, h4, h5,
.omb,
.btnBar a,
.schoolListComponentContainer,
.attention,
#historicalDataSetsTable,
#htmlSarView table,
.myFafsaTitle,
.virtualKeyboardContainer,
.emphasizeBlock p.heading,
.emphasizeBlock span.heading,
.fsaid-account-header,
.secondary-cta-header {
	font-family:'News Cycle', arial, tahoma, myriad, verdana, sans-serif;
}

#mainHeader .fafsaTitle {
	font-family:arial, tahoma, myriad, verdana, sans-serif;
}

/* --/\---------
     End fonts
   ------------- */

/* ----------
     Colors
   --\/------ */
   
/* Primary color (#335066 = dark blue) */

h1.pageTitle,
.userSection:after,
.genSection .titleBar,
.userSection .yearTitle,
.profilePic,
mat-toolbar.mat-toolbar,
.media .icon:before,
a.media:hover .icon:before,
a.media:focus .icon:before,
.media .icon:hover:before,
.media .icon:focus:before,
.info-banner-content-container,
.studentDependencyHeader > span,
.febi fieldset .fieldset-legend, 
.febi .faux-fieldset .fieldset-legend,
.modal-header,
.or-separator,
.confirmation .gdCardRow a.gdCard,
/* Progress menu */
.progressMenu.horizontal ul li a.current .icon,
.progressMenu.vertical ul li a.current .icon > span,
/* Button default color */
.febi .btn,
.febi .btnHelp > a,
.febi .btn.off.ui-focus,
.febi .btn.icon,
highlight span.highlightH {
	background-color:#335066;
}

/* .febi is overriding some weird crap angular material's applying. Need to find the proper way to fix sometime... */
.febi .btn.off {
	background-color:#ffffff;
	border-color:#335066;
	color:#335066;
}

h1.pageTitle,
.studentDependencyHeader > div,
.info-banner-tag-end,
/* Progress menu */
.progressMenu.horizontal a.current:before {
	border-color:#335066;
}

.progressMenu.horizontal a.current,
my-fafsa .mat-tab-group .mat-tab-label-active {
	color:#335066;
}

	/* Primary color - darker (#17242f = darkest blue) */
	
	.primaryDark,
	.schoolSummaryMenuContainer button,
	.content h2.confirmationTitle {
		background-color:#17242f;
	}

	.info-banner-tag-fold {
		border-color:transparent #17242f transparent transparent;
	}
	
	/* End primary color - darker */
	
	/* Primary color - lighter, button hover states (#5c7385 = #335066 (dark blue) at 80% opacity) */
	
	.febi .btn.hover, 
	.febi .btn.off.hover,
	.febi .btn.ui-focus,
	.febi .btn.off.ui-focus,
	.febi .btnHelp.hover,
	.febi .btnHelp.ui-focus,
	.febi .btnHelp > a.hover,
	.febi .btnHelp > a.ui-focus,
	.febi .btn.closeIconBtn:active,
	form.sign-submit-5 .gdCardRow mat-card .btn.hover,
	form.sign-submit-5 .gdCardRow mat-card .btn.ui-focus,
	.febi ngb-accordion .card-header a:hover,
	.febi ngb-accordion .card-header a:focus,
	.febi div[id*='vkb_'] .btn.hover,
	.febi div[id*='vkb_'] .btn.ui-focus {
		background-color:#5c7385;
		border-color:#5c7385;
		color:#ffffff;
	}
	.schoolSummaryMenuContainer button:not(.disabled):hover,
	.schoolSummaryMenuContainer button:not(.disabled):focus,
	#login-container .tab-header .tab .login-tab-active:hover,
	#login-container .tab-header .tab .login-tab-active:focus, 
	#login-container .tab-header .tab label:hover,
	#login-container .tab-header .tab label:focus,
	.appSummaryConentContainer ngb-accordion .card .card-header > a:hover,
	.appSummaryConentContainer ngb-accordion .card .card-header > a:focus,
	.confirmation .gdCardRow a.gdCard:hover,
	.confirmation .gdCardRow a.gdCard:focus,
	my-fafsa .mat-tab-group .mat-tab-header .mat-tab-label:hover,
	my-fafsa .mat-tab-group .mat-tab-header .mat-tab-label:focus,
	my-fafsa .mat-tab-group.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
		background-color:#5c7385 !important;
	}
	
	.btn.hover:before,
	.btn.ui-focus:before,
	.btnHelp.hover:before,
	.btnHelp.ui-focus:before,
	.btnHelp > a.hover:before,
	.btnHelp > a.ui-focus:before,
	#login-container .tab-header .tab .login-tab-active:hover,
	#login-container .tab-header .tab .login-tab-active:focus,
	.febi div[id*='vkb_'] .btn.hover:before,
	.febi div[id*='vkb_'] .btn.ui-focus:before {
		border-color:#5c7385;
	}
	
	.febi .schoolSummaryContentMenuIcon a:hover,
	.febi .schoolSummaryContentMenuIcon a:focus {
		color:#5c7385;
	}
	
	.febi .febi-tag .inputBlock a.virtualKeyboard svg path,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_login_ssn,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_login_ssn,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_login_ssn,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_login_ssn,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_login_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_login_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_login_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_login_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_fatherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_fatherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_fatherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_fatherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_fatherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_fatherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_fatherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_fatherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_motherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_motherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_motherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_motherSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_motherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_motherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_motherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_motherDOB,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_preparersEIN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_preparersEIN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_preparersSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_preparersSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_preparersEIN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_preparersEIN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_preparersSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_preparersSSN,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_student_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_student_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline_student_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline_student_dob,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Background_1_,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Background_1_,
	.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path#Outline,
	.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path#Outline {
		fill:#5c7385;
	}
	
	/* End primary color - lighter, button hover states */
	
/* End primary color */

/* Secondary color (#1A729E = lighter blue) */

.school button.section2:hover,
.school button.section2:focus,
.gdCardRow .gdCard .gdCardHeader,
.febi .febi-tag.gdRadioTag .radio-febi .gdRadio .gdRadioOn,
.febi .febi-tag.gdRadioTag .gdRadioWrap:before,
.febi .febi-tag.gdRadioTag .gdRadioWrap:after,
.febi .febi-tag.gdCheckboxTag .gdCheckbox.gdCheckboxSelected,
.febi .febi-tag.gdCheckboxTag .gdCheckboxWrap:before,
.febi .febi-tag.gdCheckboxTag .gdCheckboxWrap:after,
.appSummaryConentContainer ngb-accordion .card .card-body h2,
.confirmation .gdCardRow a.gdCard:hover:after,
.confirmation .gdCardRow a.gdCard:focus:after,
.confirmation .gdCardRow a.gdCard:after,
.confirmation table tr.tableHeader th,
#htmlSarView caption,
#htmlSarView thead,
#htmlSarView tbody tr th,
my-fafsa .mat-tab-group .mat-tab-header .mat-ink-bar,
.febi .virtualKeyboardContent li button:hover,
.febi .virtualKeyboardContent li button:focus,
.febi div[id*='vkb_'] .closeIconBtn,
/* Progress menu */
.progressMenu.horizontal a.current:hover .icon,
.progressMenu.horizontal a.current:focus .icon,
.progressMenu.horizontal a.ongoing .icon,
.progressMenu.horizontal a.ongoing:before,
.progressMenu.vertical ul li a.ongoing .icon > span {
	background-color:#1A729E;
}

.pageMessage.info,
.specialPageMessage.info,
.febi .febi-tag.gdRadioTag .radio-febi .gdHover .gdRadio,
.febi .febi-tag.gdRadioTag .radio-febi .gdFocus .gdRadio,
.febi .febi-tag.gdRadioTag .radio-febi .gdRadio.gdRadioSelected,
.febi .febi-tag.gdCheckboxTag .gdHover .gdCheckbox,
.febi .febi-tag.gdCheckboxTag .gdFocus .gdCheckbox,
.febi .febi-tag.gdCheckboxTag .gdRadio.gdCheckboxSelected,
.febi .febi-tag.gdCheckboxTag .gdCheckbox.gdCheckboxSelected,
#login-container .tab-header .tab.login-tab-active,
/* Progress menu */
.progressMenu.horizontal a.current:hover:before,
.progressMenu.horizontal a.current:focus:before,
.progressMenu.horizontal a.ongoing:before {
	border-color:#1A729E;
}

.febi a,
.schoolList .school .section2,
.febi .pageMessage.info .glyphicon:before,
.febi .specialPageMessage .glyphicon:before,
get-started h2,
.confirmation .gdCardRow a.gdCard .glyphicon,
.progressMenu.horizontal a.current:hover,
.progressMenu.horizontal a.current:focus,
.progressMenu.horizontal a.ongoing {
	color:#1A729E;
}

.signature .signatureFor svg .st1,
.confirmation .gdCardRow a.gdCard .glyphicon svg path {
	fill:#1A729E;
}

	/* Secondary color - light background highlight */
	
	.school:nth-child(odd),
	.schoolSummarySchoolContainer:nth-child(even) {
		background-color:rgba(27, 121, 169, .1);
	}

	/* End secondary color - light background highlight */

/* End secondary color */

/* Parent color */
/*
form[class*="parent"] h1.pageTitle,
form[class*="parent"] .progressMenu.horizontal a.current,
form[class*="parent"] .febi fieldset .fieldset-legend, 
form[class*="parent"] .febi .faux-fieldset .fieldset-legend,
form[class*="parent"] .pageMessage.info, 
form[class*="parent"] .specialPageMessage.info, 
form.sign-submit-5 .gdCardRow mat-card mat-card-header,
form.sign-submit-5 .gdCardRow .gdCard .gdCardHeader,
form.sign-submit-5 .gdCardRow mat-card .btn,
form.sign-submit-5 .gdCard .btn,
form[class*="parent"] .btn,
form[class*="parent"] .btnHelp > a,
form[class*="parent"] .btn.off.ui-focus,
form[class*="parent"] .btn.icon {
	background-color:#730086;
}

form[class*="parent"] h1.pageTitle {
	border-color:#730086;
}

form[class*="parent"] .info-banner-content-container {
	background-color:#730086 !important;
}
*/
	/* Parent color darker */
	/*
	.parentDark {
		background-color:#4b225e;
	}
	
	form[class*="parent"] .info-banner-tag-fold {
		border-color:transparent #4b225e transparent transparent !important;
	}
	*/
	/* End parent color darker */

/* End parent color */

/* Accent color #1 (#ebdf54 = yellow) */

.emphasizeBlock span,
.emphasizeBlock .heading,
.emphasizeBlock .highlight,
.school-info-header .highlight,
.fieldset-legend a,
.highlight1 {
	color:#ebdf54;
}

.accent1Fill,
.signature .signatureFor svg .st4 {
	fill:#ebdf54;
}

/* End accent color #1 */

/* Accent color #2 (#7fc241 = light green) */

.accent2Fill,
svg.success path {
	fill:#7fc241;
}

	/* Saved info box colors */

.febi .pageMessage.saved {
	border-color: #7fc241;
}

.febi .pageMessage.saved .glyphicon {
	color:#7fc241;
}

	/* End Saved info box colors */

/* End accent color #2 */

/* Accent color #3 (#00680a = dark green) */

.progressMenu.horizontal ul li a.complete .icon,
.progressMenu.horizontal a.complete:before,
.progressMenu.vertical ul li a.complete .icon > span,
.progressMenu.horizontal ul li a.confirmed .icon,
.progressMenu.horizontal a.confirmed:before,
.progressMenu.vertical ul li a.confirmed .icon > span {
	background-color:#00680a;
}

.progressMenu.horizontal a.complete,
.progressMenu.horizontal a.confirmed,
.myFafsaTitle {
	color:#00680a;
}

.progressMenu.horizontal a.complete:before,
.progressMenu.horizontal a.confirmed:before {
	border-color:#00680a;
}

/* End accent color #3 */

/* Accent color #4 (#63cecf = light blue-green) */

.confirmationTitle strong {
	color:#63cecf;
}

/* End accent color #4 (#63cecf = light blue-green) */

/* White */

.febi .btn,
.febi a.btn,
.febi .btnHelp > a,
.febi .btnHelp > a:active,
.febi .btnHelp > a:hover,
.febi .btnHelp > a:focus,
.febi .btnHelp > a:visited,
.febi a.btnHelp,
h1.pageTitle,
mat-toolbar.mat-toolbar,
.febi .btnBar a,
ngb-accordion .card-header a:hover,
.appSummaryConentContainer ngb-accordion .card .card-body h2,
.febi .schoolSummaryMenuContainer button, 
.febi .schoolSummaryMenuContainer button:visited,
/* Progress menu */
.progressMenu.horizontal a.ongoing:hover,
.progressMenu.horizontal a.ongoing:focus,
.progressMenu.horizontal a.complete:hover,
.progressMenu.horizontal a.complete:focus,
.progressMenu.vertical ul li a.complete,
.progressMenu.vertical ul li a.current,
.progressMenu.vertical ul li a.ongoing,
.progressMenu.vertical ul li a.confirmed,
.progressMenu.vertical ul li a.complete:hover,
.progressMenu.vertical ul li a.complete:focus,
.progressMenu.vertical ul li a.current:hover,
.progressMenu.vertical ul li a.current:focus,
.progressMenu.vertical ul li a.ongoing:hover,
.progressMenu.vertical ul li a.ongoing:focus {
	color:#ffffff;
}

/* Progress menu - Confirmed */
.progressMenu.horizontal a.confirmed {
	color:#00680a;
    pointer-events: none;
    cursor: not-allowed;
}

.febi .febi-tag .inputBlock a.virtualKeyboard:hover svg path,
.febi .febi-tag .inputBlock a.virtualKeyboard:focus svg path,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_login_ssn,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_login_dob,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_fatherSSN,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_fatherDOB,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_motherSSN,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_motherDOB,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_student_dob,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_preparersEIN,
.febi .febi-tag .inputBlock a.virtualKeyboard svg path#Background_1_preparersSSN,
.signature .signatureFor svg .st0,
svg.success .st0,
/* Progress menu */
.progressMenu.horizontal a .icon svg .st0,
.progressMenu.vertical ul li a.complete .icon svg .st0,
.progressMenu.vertical ul li a.confirmed .icon svg .st0,
.progressMenu.vertical ul li a.current .icon svg .st0,
.progressMenu.vertical ul li a.ongoing .icon svg .st0 {
	fill:#ffffff;
}

.progressMenu.horizontal a.complete .icon,
.progressMenu.horizontal a.confirmed .icon,
.progressMenu.horizontal a.current .icon,
.progressMenu.horizontal a.ongoing .icon,
.progressMenu.vertical ul li a.complete .icon > span,
.progressMenu.vertical ul li a.confirmed .icon > span,
.progressMenu.vertical ul li a.current .icon > span,
.progressMenu.vertical ul li a.ongoing .icon > span,
.progressMenu.vertical ul li a.complete:hover .icon > span,
.progressMenu.vertical ul li a.complete:focus .icon > span,
.progressMenu.vertical ul li a.current:hover .icon > span,
.progressMenu.vertical ul li a.current:focus .icon > span,
.progressMenu.vertical ul li a.ongoing:hover .icon > span,
.progressMenu.vertical ul li a.ongoing:focus .icon > span {
	border-color:#ffffff;
}

.progressMenu.horizontal a,
ngb-accordion .card-block,
ngb-accordion .card .card-body {
	background-color:#ffffff;
}

/* End white */

/* Primary black (#3e3d38 = dark gray) */

.febi #mainHeader .navbar,
.febi #mainHeader .navbar-nav,
.febi .btnBar,
.febi ngb-pagination,
.schoolListHeader,
.schoolSummaryHeader,
.emphasizeBlock,
.get-started-cta-container,
.progressMenu.vertical,
.school-info-header,
#historicalDataSetsTable thead,
.febi .virtualKeyboardContent li button,
.schoolSummaryMenuContainer button.disabled,
.schoolSummaryMenuContainer button.disabled:focus,
.schoolSummaryMenuContainer button.disabled:hover {
	background-color: #3e3d38;
}

.emphasizeBlockContent,
ngb-accordion .card-header a,
ngb-accordion .card-header a:visited,
ngb-accordion .card-block,
.progressMenu.horizontal a:before,
.progressMenu.horizontal a:hover:before,
.progressMenu.horizontal a:focus:before {
	border-color:#3e3d38;
}

.signature .signatureFor svg circle:first-of-type {
	fill:#3e3d38;
}

	/* Focus */

.febi h1:focus,
.skipLinkTarget[tabIndex]:focus,
.febi .febi-tag .form-control:focus,
.febi .febi-tag select:focus,
.febi .febi-tag mat-autocomplete input[type="search"]:focus {
	border:2px solid #3e3d38;
	box-shadow:inset 0 0 0 rgba(0, 0, 0, 0);
	/*border:1px solid #0000ff;
	box-shadow:inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(60, 160, 172, .5);*/
	outline:none;
}

	/* End focus */

/* End primary black */

/* Primary gray */

.appSummaryConentContainer ngb-accordion .card .card-body,
.application-summary-data-container,
.dynamic-hyperlink-field-label {
	border-color:#9e9e95;
}

/* End primary gray */

/* Sub-menu gray */

.progressMenu.vertical ul li a,
.progressMenu.vertical ul li a.complete,
.progressMenu.vertical ul li a.confirmed,
.progressMenu.vertical ul li a.current,
.progressMenu.vertical ul li a.ongoing,
.progressMenu.vertical ul li a:hover,
.progressMenu.vertical ul li a:focus,
.progressMenu.vertical ul li a:active {
	background-color:#555555;
}

/* End sub-menu gray */

/* Black */

.febi .febi-tag input[type="text"],
.febi .febi-tag input[type="password"],
.febi .febi-tag input[type="textarea"],
.febi .febi-tag input[type="tel"],
.febi .febi-tag select,
.febi mat-autocomplete input[type="search"],
.febi .form-group.has-feedback-left .glyphicon,
ngb-accordion .card-header a,
ngb-accordion .card-header a:visited,
.febi mat-content,
.progressMenu.horizontal a,
.progressMenu.horizontal a:hover,
.progressMenu.horizontal a:focus {
	color:#000000;
}

.schoolListHeaderSub {
	background-color:#000000;
}

/* End black */

/* Error color (#a30000 = dark red) */

.febi .febi-tag.gdRadioTag.error .radio-febi .gdRadio .gdRadioOn,
.febi .febi-tag.gdRadioTag.error .gdRadioWrap:before,
.febi .febi-tag.gdRadioTag.error .gdRadioWrap:after {
	background-color:#a30000;
}

.febi .febi-tag.error label,
.febi .febi-tag.error > p,
.febi .febi-tag.error .febi-label > h3,
.febi .febi-tag.error input,
.febi .febi-tag.error select,
.febi .febi-tag.error .reset-field-icon,
.febi .febi-tag.error ol > li .radio-content .item-content,
.febi .item.error label,
.febi .item.error .febi-label > h3,
.febi .item.error input,
.febi .item.error select,
.febi .item.error .reset-field-icon,
.febi .item.error ol > li .radio-content .item-content,
.febi .febi-tag.gdRadioTag.error .febi-label p,
.febi .pageMessage.error, 
.febi .alertText {
	color:#a30000 !important;
}

.febi .febi-tag.error mat-autocomplete button mat-icon path,
.febi .pageMessage .errorGraphic .st0 {
	fill:#a30000;
}

.febi .febi-tag.gdRadioTag.error .radio-febi .gdRadio,
.febi .pageMessage.error {
	border-color:#a30000;
}

.febi .febi-tag.error .form-control,
.febi .febi-tag.error select,
.febi .item.error .form-control,
.febi .febi-tag.error mat-autocomplete input[type="search"] {
	border-color:#a30000;
	box-shadow:inset 0 .15em .15em rgba(0, 0, 0, .05), 0 0 2px rgba(188, 0, 0, 1);
}

.febi .febi-tag.error .form-control:focus,
.febi .febi-tag.error select:focus,
.febi .item.error .form-control:focus,
.febi .item.error select:focus,
.febi .febi-tag.error mat-autocomplete input[type="search"]:focus,
.febi .error .infoMessage:focus {
	border-color:#dd0000;
	box-shadow:inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(188, 0, 0, .5);
}

/* End error color */

/* Disabled tag colors */

.febi .febi-tag input[type="text"]:disabled,
.febi .febi-tag input[type="password"]:disabled,
.febi .febi-tag input[type="textarea"]:disabled,
.febi .febi-tag input[type="tel"]:disabled,
.febi .febi-tag select:disabled,
.febi mat-autocomplete input[type="search"]:disabled {
	background-color:#cfcfc5;
	color:#3e3d38;
}

.febi .febi-tag.disabled .form-control,
.febi .febi-tag.disabled select,
.febi .febi-tag.disabled .input-group-addon {
	color:#3e3d38;
}

.febi .febi-tag.disabled .input-group-addon,
ngb-accordion .card-header a,
ngb-accordion .card-header a:visited {
	background-color:#cfcfc5;
}

/* End disabled tag colors */

/* Form background color (#f5f5f0 = rgba(231, 230, 217, .4) */
		
.febi .content .febiPage {
	background-color:rgba(231, 230, 217, .4);
}

.progressMenu.horizontal a.current:before {
	background-color:#f5f5f0;
}

/* End form background */

/* Progress menu - vertical version custom colors */

.progressMenu.vertical ul li a.current {
	background-color:#034649;
	border-top-color:rgba(3, 100, 73, .5);
}

.progressMenu.vertical ul li a.complete:hover,
.progressMenu.vertical ul li a.complete:focus {
	background-color:rgba(0, 104, 10, .5);
	border-top-color:rgba(0, 104, 10, .9);
}

.progressMenu.vertical ul li a.current:hover,
.progressMenu.vertical ul li a.current:focus {
	background-color:rgba(3, 70, 73, .5);
	border-top-color:rgba(3, 90, 73, .9);
}

.progressMenu.vertical ul li a.ongoing:hover,
.progressMenu.vertical ul li a.ongoing:focus {
	background-color:rgba(27, 121, 169, .5);
	border-top-color:rgba(27, 121, 169, .9);
}

.progressMenu.vertical ul li a.complete:hover .icon > span,
.progressMenu.vertical ul li a.complete:focus .icon > span,
.progressMenu.vertical ul li a.confirmed:hover .icon > span,
.progressMenu.vertical ul li a.confirmed:focus .icon > span {
	background-color:rgba(45, 164, 74, .33);
}

.progressMenu.vertical ul li a.current:hover .icon > span,
.progressMenu.vertical ul li a.current:focus .icon > span {
	background-color:rgba(51, 80, 102, .33);
}

.progressMenu.vertical ul li a.ongoing:hover .icon > span,
.progressMenu.vertical ul li a.ongoing:focus .icon > span {
	background-color:rgba(27, 121, 169, .33);
}

/* End progress menu vertical version custom colors */

.febi a:active,
.febi a:visited {
	color:#443283;
}

.febi a:hover,
.febi a:focus,
.febi .schoolList .school a:hover,
.febi .schoolList .school a:focus {
	color:#8c3f3b;
}

.fieldset-legend a.linkClass:hover,
.fieldset-legend a.linkClass:focus {
	color: #a2d06d;
	border-bottom: 1px #a2d06d solid;
}

#footer .footer1 a:hover,
#footer .footer1 a:focus,
#footer .footer1 a:active {
	border-bottom-color:#8c3f3b;
}

.febi .febi-tag .form-control,
.febi .febi-tag select,
.febi .febi-tag mat-autocomplete input[type="search"] {
	border:1px solid #999999;
	box-shadow:inset 0 .15em .15em rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, 0);
}

header .fafsaTitle span:last-of-type {
	color:#669900;
}
	
	/* Start Logo Colors */
	#logo .st0 {
		fill:#58595B;
	}

	#logo .st1 {
		fill:#77787B;
	}
	
	#logo .st2 {
		fill:#A2D06D;
	}
	
	#logo .st3 {
		fill:none;
		stroke:#58595B;
		stroke-width:0.5;
	}
	/* End Logo Colors */
	
/* --/\----------
     End colors
   -------------- */